html * {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}

/* Navbar */
.navbar {
    background-color: white;
    border-bottom: solid;
}

.navbar-brand {
    font-size: 2rem !important;
}

.nav-item {
    padding-left: 0.5rem;
    font-size: 1.6rem;
}

/* Main page */
.section {
    font-size: 1.6rem;
    text-align: center;
    margin: 1rem;
    padding-bottom: 1rem;
}

.section-title {
    font-size: 2rem;
}

a.section-title {
    text-decoration: none !important;
    color: inherit !important;
}

.section-text {
    font-size: 1rem;
}

.section-list {
    text-align: left;
    font-size: 1rem;
}

.intro-list {
    padding-inline-start: 0px;
}

.intro-text {
    display: block;
    list-style: none;
    font-size: 2rem;
}

.sms-button {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.6rem;
}

/* how-to map */
#map {
    width: 400px; 
    height: 300px;
    margin: 0.5rem;
}

.geocoder-dropdown-text {
    font-size: 1rem;
}

.marker {
    background-image: url('mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

@media (min-width: 576px) {
    html {
        font-size: 62.5%;
    }

    .nav-item {
         visibility: hidden;
     }

    .section {
        border-bottom: none;
    }

    .section-title {
        font-size: 3rem;
    }
    
    .section-text {
        font-size: 1.6rem;
    }

    .section-list {
        font-size: 1.6rem;
    }

    .intro-text {
        font-size: 3rem;
    }

    .sms-button {
        font-size: 2rem !important;
    }

    #map {
        width: 500px;
        height: 400px; 
    }
}