version: '3.7'

services:
  app:
    build: ./app
    volumes:
      - ./app/:/home/app/app
    depends_on:
      - db
      - redis
    stdin_open: true
    tty: true
  scheduler:
    build: ./app
    command: celery -A airq.celery beat -l info
    depends_on:
      - db
      - redis
  worker:
    build: ./app
    command: celery -A airq.celery worker -l info
    depends_on:
      - db
      - redis
  redis:
    image: redis:alpine
  db:
    image: postgres
    restart: always
    volumes:
      - pgdata:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres

volumes: 
  pgdata: